<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <a href="/users/create">Criar Novo Usuário</a>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <%= user.name %> - <%= user.email %>
                <a href="/users/update/<%= user.id %>">Editar</a>
                <form action="/users/delete/<%= user.id %>" method="POST" style="display:inline;">
                    <button type="submit">Deletar</button>
                </form>
                <a href="/times/<%= user.id %>">Registros</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
